<h3>{{viewTitle}}</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag ID</th>
            <th>Car Type</th>
            <th>Toll Credit</th>
            <th>Plate Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{thisTagID}}</td>
            <td>{{thisCarType}}</td>
            <td>{{thisTollCredit}}</td>
            <td>{{thisPlateNo}}</td>
        </tr>
    </tbody>
</table>